
.checkbox-wrapper-3 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-3 .toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
  margin: 10px 0;
}

.checkbox-wrapper-3 .toggle:before {
  content: "";
  position: relative;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
  margin-right: 10px;
}

.checkbox-wrapper-3 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.checkbox-wrapper-3 .toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.checkbox-wrapper-3 input[type="checkbox"]:checked + .toggle:before {
  background: #947ADA;
}

.checkbox-wrapper-3 input[type="checkbox"]:checked + .toggle span {
  background: #4F2EDC;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

.checkbox-wrapper-3 input[type="checkbox"]:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.checkbox-wrapper-3 .toggle {
  font-size: 16px;
  color: #333;
}

/* ---------------------------------------------------------------------------------------------------------------- */ 
.pagina{
  font-size: 40xp;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

hr{
  height: 4px;
  background: #005eea;
  border: none;
}

.parrafo{
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
}

.content{
  max-width: 500px;
  background: #fff;
  padding: 40px;
  font-size: 22px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  transition: all 300ms;
  box-shadow: 6px 6px 12px #4d4c4c, -6px -6px 12px #ffffff;
}

.content:hover {
  transform: translate(-5px, -10px);
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.40)
}

.tags{
  position: relative;
  padding: 5px 60px 5px 50px;
  margin-left: -51px;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  font-weight: 100;
  background-image: 
    linear-gradient(45deg, #005eea, #005eea 32px, rgba(0, 0, 0, 0) 32px),
    linear-gradient(135deg, #005eea, #005eea 32px, rgba(0, 0, 0, 0) 32px),
    linear-gradient(135deg, #005eea, #005eea);
  background-repeat: no-repeat;
  background-position: 100% 100%, 100% 100%, -32px 100%;
  background-size: 40px 100%, 48px 100%, 100% 100%;
  cursor: default;
}

.tags:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: .25em solid transparent;
  border-bottom-color: rgb(3, 0, 0);
  border-right-color: rgb(3, 0, 0);
  top: -11px;
  left: 0;
}